@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
    @*remove inline css*@
    @*remove inline css*@
    @*remove inline css*@
    @*remove inline css*@

<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    <td class="content">
        <h1 class="generalHead">Conference Secretariat</h1>
        
        <h5>Important Contacts for Authors / Delegates</h5>
        
        <div class="customTable">
            <table class="customTable-main">
                <thead>
                    <tr class="customTable-header">
                        <th width="6%">S. No.</th>
                        <th width="44%">Functions / Purposes</th>
                        <th width="50%">Contact Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="customTable-track">1.</td>
                        <td class="generalTxt">
                            <strong>Track # 01 Incharge:</strong><br>
                            Queries related to papers submitted in <strong>Sustainable Computing</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Parul Arora</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-7678269988<br>
                            E-Mail: <a href="mailto:track1.indiacom@gmail.com">track1.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">2.</td>
                        <td class="generalTxt">
                            <strong>Track # 02 Incharge:</strong><br>
                            Queries related to papers submitted in <strong>High Performance Computing</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Rakhee Sharma</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9873632150<br>
                            E-Mail: <a href="mailto:track2.indiacom@gmail.com">track2.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">3.</td>
                        <td class="generalTxt">
                            <strong>Track # 03 Incharge:</strong><br>
                            Queries related to papers submitted in <strong>High Speed Networking and Information Security</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Arpita Nagpal</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9999652200<br>
                            E-Mail: <a href="mailto:track3.indiacom@gmail.com">track3.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">4.</td>
                        <td class="generalTxt">
                            <strong>Website Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Ms. Ambooj & Ms. Preeti Rai</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-8076546858, +91-7533060564<br>
                            E-Mail: <a href="mailto:webmaster@bvicam.in">webmaster@bvicam.in</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">5.</td>
                        <td class="generalTxt">
                            <strong>Payment Confirmation Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Sunil Pratap Singh</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-8630340857<br>
                            E-Mail: <a href="mailto:payments.indiacom@gmail.com">payments.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">6.</td>
                        <td class="generalTxt">
                            <strong>Other Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Prof. M. N. Hoda</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9212022066<br>
                            E-Mail: <a href="mailto:mca@bvicam.ac.in">mca@bvicam.ac.in</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">7.</td>
                        <td class="generalTxt">
                            <strong>Track # 04 Incharge:</strong><br>
                            Queries related to papers submitted in <strong>Data Science and Machine Learning</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Ramesh Kumar</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9876543210<br>
                            E-Mail: <a href="mailto:track4.indiacom@gmail.com">track4.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">8.</td>
                        <td class="generalTxt">
                            <strong>Track # 05 Incharge:</strong><br>
                            Queries related to papers submitted in <strong>Artificial Intelligence and Robotics</strong>
                        </td>
                        <td class="contact-details">
                            <b>Dr. Sangeeta Sharma</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9087654321<br>
                            E-Mail: <a href="mailto:track5.indiacom@gmail.com">track5.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">9.</td>
                        <td class="generalTxt">
                            <strong>Accommodation Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Mr. Ravi Kumar</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-9988776655<br>
                            E-Mail: <a href="mailto:accommodation.indiacom@gmail.com">accommodation.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">10.</td>
                        <td class="generalTxt">
                            <strong>Registration Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Ms. Neha Verma</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-8877665544<br>
                            E-Mail: <a href="mailto:registration.indiacom@gmail.com">registration.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">11.</td>
                        <td class="generalTxt">
                            <strong>Sponsorship & Exhibition Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Mr. Sumit Ahuja</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-7766554433<br>
                            E-Mail: <a href="mailto:sponsorship.indiacom@gmail.com">sponsorship.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                    <tr>
                        <td class="customTable-track">12.</td>
                        <td class="generalTxt">
                            <strong>General Queries</strong>
                        </td>
                        <td class="contact-details">
                            <b>Ms. Priya Sharma</b><br>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-6655443322<br>
                            E-Mail: <a href="mailto:general.indiacom@gmail.com">general.indiacom@gmail.com</a><br>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </td>




    <br>

    <div>

        <p class="generalTxt">
            All correspondences related to the conference, including registration forms, DDs etc.(if required to be sent) must be sent by speed post with the caption "<strong>INDIACom-2025</strong>" at the top centre
            of the envelope, to the following address:-
        </p>
        <p class="generalTxt">
            <strong>Prof. M. N. Hoda</strong><br>
            General Chair, INDIACom-2025<br>
            Director, Bharati Vidyapeeth's Institute of Computer Applications and Management (BVICAM)<br>
            A-4, Paschim Vihar, Rohtak Road, New Delhi - 110063 (INDIA) <br>
            Tel.:+ 91-11-25275055, Fax:+ 91-11-25255056, Mobile: +91-9212022066 <br>
            E-Mail: <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>; <a href="mailto:mca.hoda@gmail.com">mca.hoda@gmail.com</a>
        </p>



    </div>
    <p>&nbsp;</p>



</div>