@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";

}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    <td >
        <h1 >Downloadable Documents</h1>

        <table class="fee-table">
            <tbody>
                <!-- Header Row -->
                <tr>
                    <th colspan="2">Document Name</th>
                    <th colspan="2">Format</th>
                </tr>

                <!-- Section: For Authors -->
                <tr class="category-header">
                    <td colspan="2">For Authors</td>
                </tr>

                <tr>
                    <td>1.</td>
                    <td>Copyright Transfer Form (CRT)</td>
                    <td colspan="2">
                        <a href="\Content\pdfanddoc\Copyright Transfer Form.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>2.</td>
                    <td>Certificate of Originality and Confirmation to attend the Conference (CORG)</td>
                    <td>
                        <a href="\Content\pdfanddoc\Certificate_of_Originality_and_Confirmation_to_attend_the_Conference (1).doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\Certificate_of_Originality_and_Confirmation_to_attend_the_Conference.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>3.</td>
                    <td>How to Use IEEE PDF eXpress</td>
                    <td colspan="2">
                        <a href="\Content\pdfanddoc\How to Use IEEE PDF eXpress (1).pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>4.</td>
                    <td>Template for Full Paper</td>
                    <td>
                        <a href="\Content\pdfanddoc\Template_For_Full_Paper.doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\Template_For_Full_Paper.pdf">PDF</a>
                    </td>
                </tr>

                <!-- Section: General -->
                <tr class="category-header">
                    <td colspan="2">General</td>
                </tr>

                <tr>
                    <td>5.</td>
                    <td>Important Dates</td>
                    <td>
                        <a href="~\Content\pdfanddoc\Important_Dates.doc">DOC</a>
                    </td>
                    <td>
                        <a href="~\Content\pdfanddoc\Important_Dates.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>6.</td>
                    <td>Registration Form for INDIACom</td>
                    <td>
                        <a href="\Content\pdfanddoc\Registration_Form_for_INDIACom.doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\Registration_Form_for_INDIACom.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>7.</td>
                    <td>Payment Modes</td>
                    <td>
                        <a href="\Content\pdfanddoc\Payment Mode.doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\Payment Mode.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>8.</td>
                    <td>Reaching BVICAM</td>
                    <td>
                        <a href="\Content\pdfanddoc\How_to_Reach_BVICAM.doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\How_to_Reach_BVICAM.pdf">PDF</a>
                    </td>
                </tr>

                <tr>
                    <td>9.</td>
                    <td>List of Nearby Hotels / Guest Houses</td>
                    <td>
                        <a href="\Content\pdfanddoc\Accommodation Details.doc">DOC</a>
                    </td>
                    <td>
                        <a href="\Content\pdfanddoc\Accommodation Details.pdf">PDF</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>

</div>