@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}

<link href = "~/Content/css/style.css" rel = "stylesheet" />
 <div class= "content-section col-md" >
     <td>
<h1>Special Sessions</h1>
<p>
Collaborative efforts lead to substantial accomplishments, with this viewpoint, INDIACom - 2025 is inviting eminent academicians, scientists, researchers, industrialists, technocrats, government representatives, social visionaries and experts from all strata of society to work together for more meaningful and professional outcome. The INDIACom team plans to hold special sessions on various areas of expertise, in any of the tracks based on related theme. These Special Sessions will be chaired by experts from different fields. The presentation of the papers under such Special Sessions will be scheduled at the venue of the conference, on any of the three days (pre-intimated) during the conference. <strong>The shortlisted papers will be accepted for presentation and publication in the Soft Copy of pre-Conference proceedings, which will be published on the Conference Website.<br>
<br> Further, all presented papers will be submitted to IEEE Xplore for consideration for publication and indexing.</strong> 
</p><p class="generalTxt">



<font color="#FF0000"><strong>Kindly <a href="splSessionRequest.asp">click here</a> to submit a request for conducting a Special Session during INDIACom - 2025.</strong></font></p><table cellspacing="1" cellpadding="1" width="554" border="1" height="371">






</table>
     </td>
</div>