@model INDIACom.Models.DropdownModel

    @{
        Layout = "~/Views/Shared/Layoutweb.cshtml";
    }
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <div class="content-section col-md">
        <div>
            <label>Track:</label>
            <select id="ddlTrack" class="form-control">
                <option value="">Select Track</option>
            </select>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
    $(document).ready(function () {
                loadDropdown("ddlTrack", "/Dropdown/getTrack");

            });

            function loadDropdown(elementId, url) {
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        var dropdown = $("#" + elementId);
                        dropdown.empty();
                        dropdown.append('<option value="">Select</option>');
                        $.each(data, function (i, item) {
                            dropdown.append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });
                    }
                });
            }</script>
    </div>
