<p>Admin logged in</p>
<a href="@Url.Action("SubmitEvent", "Event")">Event Creation</a>

<br />
<br />
<a href="@Url.Action("Logout", "Account")" class="btn btn-warning" onclick="return confirm('Are you sure you want to logout?');">
    Logout
</a>
